doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title My Shop
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav 
                ul.main-header__item_list 
                    li.main_header__item 
                        a.active(href="/") Shop
                    li.main_header__item 
                        a(href="/admin/add-product") Add Product 
        main
            if prods.length >0 
                .grid
                    each product in prods
                        article.cart.product_item 
                            header.card__header 
                                h1.prodcut__title #{product.title}
                            .card__image 
                                img(src=product.imageUrl, width="150px" , height="150px" ,alt="book")
                            .card__content 
                                h2.product__price #{product.price}$
                                p.product__description #{product.description}
                            .card__actions
                                a(href=`\\products\\`+product.id) Details | #{product.id}
                                br
                                a(href=`/admin/edit-product/`+product.id) Edit
                                form(action="/add-to-cart" method="GET") 
                                    button.btn Add to Cart

                                form(action="/admin/delete-product" , method="POST")
                                    input(type="hidden" value=product.id , name="id")
                                    button(type="submit" class="btn") Delete  


            else
                h1 No Products




